extends layout

block content
  h1 Search Results for Galaxies
  p Here are some sample galaxies.

  .container-fluid
    .row
      each galaxy in results
        div.col-sm-2
          p= `ID: ${galaxy._id}`
          p= `Name: ${galaxy.name}`
          p= `Year: ${galaxy.year}`
          p= `Inventor: ${galaxy.inventor}`
          p= `Distance: ${galaxy.distance} light-years`
          p= `Type: ${galaxy.type}`
          a(href=`/galaxies/${galaxy._id}`) Inspect
          a(href=`/galaxies/${galaxy._id}/update`) Update
          a(href=`/galaxies/${galaxy._id}/delete`) Delete
  
  a(href='/galaxies/create') Add New Galaxy
