extends layout

block content
  h1
    if isSingle
      | Galaxy Detail
    else
      | Search Results for Galaxies

  p
    if isSingle
      | Showing details for galaxy: #{galaxy.name}
    else
      | Here are some sample galaxies.

  .container-fluid
    .row
      // Ensure results exist and is an array before iterating
      if results && results.length > 0
        each galaxy in results
          .col-sm-2
            p Instance ID:
              span.instanceAttr #{galaxy._id}
            p Name:
              span.instanceAttr #{galaxy.name}
            p Year:
              span.instanceAttr #{galaxy.year}
            p Inventor:
              span.instanceAttr #{galaxy.inventor}
            p Distance:
              span.instanceAttr #{galaxy.distance} light-years
            p Type:
              span.instanceAttr #{galaxy.type}
            a(href=`/galaxies/${galaxy._id}` class="btn btn-primary btn-sm") Inspect
            a(href=`/galaxies/${galaxy._id}/update` class="btn btn-warning btn-sm") Update
            a(href=`/galaxies/${galaxy._id}/delete` class="btn btn-danger btn-sm") Delete
      else
        p No galaxies found.

  // Add a link to add a new galaxy
  a(href='/galaxies/create' class="btn btn-success") Add New Galaxy

  // Display details for a single galaxy if isSingle is true
  if isSingle && galaxy
    .galaxy-detail
      h3 Galaxy Details
      p Name:
        span.instanceAttr #{galaxy.name}
      p Year:
        span.instanceAttr #{galaxy.year}
      p Inventor:
        span.instanceAttr #{galaxy.inventor}
      p Distance:
        span.instanceAttr #{galaxy.distance} light-years
      p Type:
        span.instanceAttr #{galaxy.type}
      a(href=`/galaxies/${galaxy._id}/update` class="btn btn-warning btn-sm") Update Galaxy
      a(href=`/galaxies/${galaxy._id}/delete` class="btn btn-danger btn-sm") Delete Galaxy
